body {
    background: #222222;
}

.page-title {
    color: #ffffff;
}

.card {
    background: #222222;
    box-shadow: 0 0 10px rgba(255,255,255,255.1);
}

.card .title {
    color: #ffffff;
}

.card .text {
    color: #ffffff;
}

.theme {
    background: #222222;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
}