:root {
  --white-color: #fafafa;
  --orange-color: #fd9222;
  --dark-purple-color: #1e1823;
  --dark-color: #111111;
}

body {
  color: var(--dark-color);
  background-color: var(--white-color);

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  background: transparent;
  border: none;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.how-made ul {
  list-style: disc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  max-width: 335px;

  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}

/*                HEADER               */

.open-menu-icon {
  stroke: #111111;
}

/*-------------------- SLIDER------------------ */

/*Слайдер*/
#slider-product {
  /*положение слайдера*/
  position: relative;
  text-align: center;
  top: 10px;
}

#slider-product {
  /*центровка слайдера*/
  margin: 0 auto;
}

#slide-show .product-img {
  /*все изображения справа друг от доруга*/
  width: 10%;
  float: left;
}

#slide-show .image {
  /*устанавливает общий размер блока с изображениями*/
  width: 1000%;
  line-height: 0;
  height: 100px;
}

#thumb-img {
  /*сркывает все, что находится за пределами этого блока*/
  width: 100%;
  overflow: hidden;
  max-height: 500px;
}

.product-img img {
  /*размер изображений слайдера*/
  width: 100%;
}

#desktop:checked ~ #slider-product {
  /*размер всего слайдера*/
  max-width: 960px; /*максимальная длинна*/
}

label,
a {
  /*при наведении на стрелки или переключатели - курсор изменится*/
  cursor: pointer;
}

.wrapper-product input {
  /*скрывает стандартные инпуты (чекбоксы) на странице*/
  display: none;
}

/*позиция изображения при активации переключателя*/
#dot1:checked ~ #slide-show .image {
  margin-left: 0;
}

#dot2:checked ~ #slide-show .image {
  margin-left: -100%;
}

#dot3:checked ~ #slide-show .image {
  margin-left: -200%;
}

#dot4:checked ~ #slide-show .image {
  margin-left: -300%;
}

#dot5:checked ~ #slide-show .image {
  margin-left: -400%;
}

#dot6:checked ~ #slide-show .image {
  margin-left: -500%;
}

#dot7:checked ~ #slide-show .image {
  margin-left: -600%;
}

#dot8:checked ~ #slide-show .image {
  margin-left: -700%;
}

/* #switch9:checked ~ #slide-show .image {
  margin-left: -800%;
} */

#slide-dot-hidden {
  /*положение блока всех управляющих элементов*/
  margin: -25% 0 0 0;
  width: 100%;
  height: 50px;
}

#slide-dot label {
  /*стиль отдельного переключателя*/
  /* border-radius: 12px;
  
  width: 45px;
  height: 12px;
  background: #504f4f; */
  display: inline-block;
  width: 13px;
  height: 13px;

  background: rgba(17, 17, 17, 0.1);

  border-radius: 50%;
}

#slide-dot {
  /*расположение блока с переключателями*/
  margin: 23% 0 0;
  text-align: center;
}

#slide-dot label:hover {
  /*поведение чекбокса при наведении*/
  background: #7a1277;
  border-color: #403939 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#dot1:checked ~ #slide-dot label:nth-child(1),
#dot2:checked ~ #slide-dot label:nth-child(2),
#dot3:checked ~ #slide-dot label:nth-child(3),
#dot4:checked ~ #slide-dot label:nth-child(4),
#dot5:checked ~ #slide-dot label:nth-child(5),
#dot6:checked ~ #slide-dot label:nth-child(6),
#dot7:checked ~ #slide-dot label:nth-child(7),
 #dot8:checked ~ #slide-dot label:nth-child(8)/*,
#switch9:checked ~ #slide-dot label:nth-child(9) */ {
  /* background: #1463a7;
  border-color: #3867d7 !important; */
  width: 28px;
  height: 13px;

  background: #fd9222;

  border-radius: 0;
}

#slide-show .image {
  /*анимация пролистывания изображений*/
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

#slide-dot-hidden label:hover {
  /*прозрачность стрелок при наведении*/
  opacity: 0.6;
}

#slide-dot-hidden label {
  /*прозрачность стрелок при отводе курсора*/
  transition: opacity 0.2s ease-out;
}
