<header class="general-header">
    <div class="general-container header-container">
        <nav class="header-navigation">
            <a class="header-logo" href="../index.html">
                <svg class="header-logo-icon" width="24" height="24">
                    <use href="../img/symbol-defs.svg#icon-logo"></use>
                </svg>
            <a class="header-logo" href="../index.html">
                <svg class="header-logo-icon" width="77" height="13">
                    <use href="../img/symbol-defs.svg#icon-bookshelf"></use>
                </svg>
            </a>
            <ul class="header-list">
                <li class="header-item list">
                    <a class="header-link link" href="../index.html">HOME</a>
                </li>
                <li class="header-item list">
                    <a class="header-link link" href="../shoppinglist.html">SHOPPING LIST</a>
                </li>
            </ul>
        </nav>
         
        <div class="switcher"> 
            <div class="slider" id="theme-slider"></div> 
        </div>
         <!-- MENU-MOBILE -->
        <button type="button" class="menu-open" data-menu-open>
            <svg class="icon-open"  width="28" height="28" >
                <use href="../img/symbol-defs.svg#icon-menu-open"></use>
            </svg>
        </button>
    </div>
    <section class="mob-menu is-hidden" data-menu>
        
        <div class="mobile-menu">
            <div class="container mob-menu-container">
                <div class="mob-menu-leveling">
                    <nav class="header-navigation">
                        <a class="header-logo" href="../index.html">
                            <svg class="header-logo-icon" width="24" height="24">
                                <use href="../img/symbol-defs.svg#icon-logo"></use>
                            </svg>
                        <a class="header-logo" href="../index.html">
                            <svg class="header-logo-icon" width="77" height="13">
                                <use href="../img/symbol-defs.svg#icon-bookshelf"></use>
                            </svg>
                        </a>
                            
                    </nav>
                    <div class="switcher"> 
                        <div class="slider" id="theme-slider"></div> 
                    </div>
                    
                    <button type="button" class="menu-open" data-menu-close>
                        <svg class="icon-open"  width="28" height="28" >
                            <use href="../img/symbol-defs.svg#icon-menu-close"></use>
                        </svg>
                    </button>
                    </div>
                </div>
                <section class="menu-content">
                    <div class="menu-container">
                      
                        <div>
                            <p class="menu-title">Welcome</p>
                                <div class="menu-section">
                                    <div class="mob-content">
                                        <ul class="mob-list list">
                                            <li class="mob-item list">
                                                <a class="mob-link link carrent" href="../index.html">HOME</a>
                                            </li>
                                            <li class="mob-item list">
                                                <a class="mob-shopping-link link" href="../shoppinglist.html">
                                                    <p class="mob-shopping-text">SHOPPING LIST</p>
                                                    <svg class="icon-untitled"  width="20" height="20" >
                                                        <use href="../img/symbol-defs.svg#icon-untitled"></use>
                                                    </svg>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                           </div>
                           <div class="img-menu-div">
                               <section class="section-img-menu">
                                  <img class="img-menu" src="../img/menu-images/Group6.png" alt="A picture with books">
                               </section>
                           </div>
                       </div>
                   </div>
                </section>
            </div>
    </section>
</header>
                
        
        
    
                   
                   