.switcher {
  width: 40px;
  height: 24px;
  background: linear-gradient(
    to right,
    rgba(79, 46, 232, 1),
    rgba(220, 220, 220, 1)
  );
  position: relative;
  border-radius: 20px;
  cursor: pointer;
}

.slider {
  width: 24px;
  height: 24px;
  background-color: #fff;

  border-radius: 50%;
  position: absolute;
  left: 30%;
  transform: translateX(-50%);
  transition: left 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
