.slider.dark {
  left: 68%;
}

body.dark {
  background: #202024;
}

.general-header.dark,
.general-header.mob-menu-container.dark {
  background: #111;
  border: 1.5px solid #fff;
  border-radius: 0px 0px 8px 8px;
}

.header-logo-icon.dark {
  fill: #f3f3f3;
}

.gallery-heading.dark {
  color: #fff;
}

.see-more.dark {
  background: #202024;
  color: #fff;
}

.gallery-books-title.dark,
.shopping-title.dark,
.choosenbook-title.dark,
.choosenbook-descr.dark {
  color: #fff;
}

.icon-open.dark {
  stroke: #fff;
}

.categories-link.dark {
  color: rgba(255, 255, 255, 0.6);
}

.categories-link.dark:hover,
.categories-link.dark:focus,
.categories-link.dark:active {
  color: #eac645;
}
