.slider {
  width: 24px;
  height: 24px;
  background-color: #fff;

  border-radius: 50%;
  position: absolute;
  left: 30%;
  transform: translateX(-50%);
  transition: left 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* .theme-switcher.dark {
  background-color: #333;
} */

body {
  background-color: var(--secondary-white-color);
}

.general-header {
  background-color: #fff;
}

