.hidden {
    display: none;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
background: rgba(17, 17, 17, 0.40);
    z-index: 10;
}
body.modal-open {
    overflow: hidden;
}

.book-modal {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 110;

    width: 100%;
    max-width: 335px;

    height: 100%;
    max-height: 762px;
    
    
    
    padding-top: 40px;
    padding-right: 24px;
    padding-bottom: 40px;
    padding-left: 24px;

    border-radius: 18px;
        border: 2px solid #111;
        background: #FFF;

        overflow-y: auto;
}


.close-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    stroke: #111;
}

.choosenbook-popup-image{
    margin-bottom: 14px;
    border-radius: 8px;
}

.choosenbook-popup-title{
color: #111;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.64px;

    margin-bottom: 4px;
}

.choosenbook-popup-author{
    color: #B4AFAF;
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: -0.48px;

        margin-bottom: 18px;
}

.choosenbook-popup-descr{
    color: #111;
        font-size: 14px;
        font-family: DM Sans;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.56px;
}

.market-popup-wrapper{
    margin-bottom: 40px;
    margin-top: 14px;
}

.market-popup-list{
    display: flex;
        gap: 20px;
}

.btn-wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.add-btn{
    color: #111;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: -0.14px;
        text-transform: uppercase;
    
  
        border-radius: 40px;
 
   
        padding-bottom: 14px;
        padding-top: 14px;
        padding-left: 23px;
        padding-right: 23px;
            border: 2px solid #4F2EE8;
            background-color: transparent;
}

.shopping-list-message{
color: rgba(17, 17, 17, 0.50);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.48px;
}

/* --------------Optimization------------ */
/* @media screen and (min-width: 375px) {} */

@media screen and (min-width: 768px) {
    .book-modal {
        max-width: 579px;
        max-height: 465px;

        padding-right: 40px;
        padding-left: 40px;
    }


    .close-icon {
        top: 24px;
        right: 24px;

        height: 28px;
        width: 28px;
    }

    .choosenbook-popup-wrapper {
        display: flex;
        gap: 24px;
        margin-bottom: 40px;
        height: 281px;
    }

    .choosenbook-popup-image{
        width: 192px;
        height: 281px;
        margin-bottom: 0;
    }
.choosenbook-popup-title {

    font-size: 24px;
        font-family: DM Sans;
        line-height: 28px;
        letter-spacing: -0.96px;

    margin-bottom: 8px;}


.choosenbook-popup-author{
        margin-bottom: 20px;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: -0.56px;
}


.market-popup-wrapper{
    margin-bottom: 121px;
    margin-top: 20px;
}

.add-btn{
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.18px;
            width: 499px;
        padding: 20px auto;
}
}


