image {
  display: block;
}

.container-shop {
  margin: 0 auto;
  width: 100%;
  max-width: 375px;
  padding: 0 20px;
}

.list {
  list-style: none;
}

/* -------------------shopping-section-------------------- */
.shopping-title {
  margin-top: 40px;
  color: #111;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -1.28px;
}

.listw-wrapper {
  color: #4f2ee8;
}

.shopping-error {
  margin: 0 auto 14px;
  text-align: center;
  margin-top: 120px;
  width: 100%;
  max-width: 244px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.28px;
}

.shopimage-error {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.shopping-list {
  padding: 0;
}

.shopping-item {
  display: flex;
  padding: 14px;
  margin-bottom: 20px;
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  background: #fff;
}

.choosenbook-image {
  margin-right: 14px;
}

.choosenbook-wrapper {
  position: relative;
}

.choosenbook-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #111;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}

.choosenbook-remove {
  position: absolute;
  right: 4px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 28px;
  background: #4f2ee8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.choosenbook-remove:is(:hover, :focus) {
  border: 1.5px solid #111;
}

.choosenbook-subtitle {
  margin-top: 4px;
  margin-bottom: 0;
  color: #b4afaf;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.36px;
}

.choosenbook-descr {
  max-width: 193px;
  max-height: 70px;
  margin-top: 8px;
  margin-bottom: 0;
  color: #111;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.56px;
  overflow: hidden;
}

.choosenbook-author {
  margin-top: 0;
  margin-bottom: 0;
  color: #b4afaf;
  font-size: 12px;
  line-height: 1.17;
  font-style: italic;
  font-weight: 400;
  letter-spacing: -0.48px;
}

.market-wrapper {
  height: 16px;
  margin-top: 16px;
  display: flex;
  align-items: flex-start;
}

.market-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .container-shop {
    max-width: 375px;
    padding: 0 20px;
  }
}
