/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./base.css');
@import url('./supportUkraine.css');
@import url('./shoppingList');
@import url('./popUp.css');
@import url('./header.css');
@import url('./darkMode.css');
@import url('./categories.css');
@import url('./bestSellersOtherList.css');
@import url('./allBackendRequests.css');
